extends layout

block content
	style.
		div.total {
			display: flex;
		}

		div.menu, div.list {
			margin: 0 auto;
		}
		

		table, tr, th, td {
			border: 1px solid mediumaquamarine;
			border-collapse: collapse;
			text-align: center;
			padding: 10px;
		}

		button {
			padding: 5px 30px;
		}

	h2 상품 주문 리스트
	div.total
		div.menu
			h3 #{o_table}번 테이블
			div
				table
					tr
						th 메뉴
						th 단가
						th 수량
						th 금액
					
					tr
						//- td= ORDER.o_pcode
						//- td= ORDER.o_price
						//- td= ORDER.o_count
						//- td= ORDER.o_price * ORDER.o_count
					
					tr
						td(colspan="2") 합계
						//- td(colspan="2")= ORDER.o_total
				button.pay 결제하기
		
		div.list
			button.list= PRODUCT.p_name

	
	script.
		document.querySelector("button.pay").addEventListener("click", (e)=>{
			document.location.href="/order/pay"
		})